body{
    background-color: rgb(136, 164, 241);
    margin-top: 0%;
    padding-top: 0%;
}
nav{
    background-size: 40%;
    height: 200px;
    padding: 20px;
}
.sam{
    color: rgb(12, 10, 10);
    font-size: large;
}
.store{
    border: 2px ridge wheat;
    border-radius: 50%;
    color: brown;
    background-color: yellow;
    padding: 10px;
}
.container{
    margin: 20px;
}
.link{
    text-align: center
}

a:hover{
    color: white;
}



.col-3, .col-4{
    cursor: pointer;
}
 #different{
    width: 100%;
    background-repeat: no-repeat;
background-size: 100%;
height: 220px;
color: brown;
padding-left: 100px;
padding-top: 20px;
}

.form{
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}
/* form styling*/
.contact{
    border-width: 2px;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgb(243, 242, 241);
    padding: 5px;
    text-align: center;
    width: 300px;
    
}
.detail{
    font-size: 150%;
}
.thank{
    font-size: 200%;
    font-style: italic;
    text-align: center;
}
.direction{
    font-size: 130%;
}
.findus{
     border-width: 2px;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgb(20, 11, 1);
    padding: 5px;
    text-align: center;
    color: white;
}
#women{
    
    padding-top: 23%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    width: 50%;
    height: 650px;
}

#men{
    text-align: center;
  padding-top: 23%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 650px;
}
#btn{
  
    text-align: center;
}
.btn:hover{
  background-color: red;
}
footer{
    background-color: saddlebrown;
padding-top: 15px;
    height: 50px;text-align: center;
}
.dropbtn{
   
  
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: thistle;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
.dropdown-content a{
    display: block;
}
.dropdown-content a:hover{
    background-color: yellowgreen;
}